.headerTitle{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.artCol {
    margin-bottom: 20px; 
}

.headerTitle {
    font-family: 'Roboto Slab', serif;
    text-align: center;

}

.textAlign {
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: 'Roboto Slab', serif;
    text-align: center;

}

.largeText {
    font-size: 30px

}

.card-text{
    font-family: 'Roboto Mono', monospace;
}

.card-title {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
}

.adjust-line-height{
    line-height: .05em
}

