body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nftContainer {
  display: "flex";
  width: "100%";
  background-color: rgb(14, 14, 48);
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  border-radius: 35px;
  margin-bottom: 50px;
}

.nftText {
  margin-bottom: 5px;
}

.nftImage {
  width: 200px;
  border-radius: 35px;
}
.alignleft{
  text-align: left;
  margin-bottom: 1.1rem;
}
.alignleft p{
  margin-bottom: 1.1rem;
}